body
{
  font-family: "Times New Roman", Times, serif;
  background-color: #E7EAEE;
}

h1
{
  color: #507FA5;
  padding: 5px;
}

h2
{
  color: #485665;
}

li
{
  color: #26403E;
}

.center
{
  display: block;
  margin-left:auto ;
  margin-right: auto;
}

.circle-image
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#BackroundParagraph
{
  padding: 5px;
  font-weight: bold;
  font-size: large;
}

#FormDiv
{
    border: 2px solid #333;
    padding: 15px;
    background-color: #D6E1EB;
    color: #3943B7;
}
