body{
  font-family: "Times New Roman", Times, serif;
  background-color: #E7EAEE;

}

h1{
color: #507FA5;
}
h2{
  color: #485665;
}
li{
color: #26403E;
}

.center{
  display: block;
  margin-left:auto ;
  margin-right: auto;
}

.circle-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#BackroundParagraph{
  font-weight: bold;
  font-size: large;
}

#FormDiv{
    background-color: #D6E1EB;

  
}
